<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activate Account</title>
    <style>


        * {
            font-family: arial, serif;
            text-align: center;
        }

        body {
            margin: 0;
            background-color: rgba(179, 245, 216, 0.89);
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        h1 {
            font-size: 100px;
        }

        h2 {
            font-size: 40px;
            text-transform: uppercase;
        }

        a {
            font-size: 30px;
        }
    </style>
</head>
<body>
<div>
    <img src="cid:logo_id" alt="url logo" class="center"/>
    <h1>Welcome To <span style="color: #ff8400">Soliq</span>App</h1>
    <h2 style="color: #082fff">In Order TO Activate Your Account Click Activate Link Below</h2>
    <a href="${url}">Activate</a>
</div>
</body>
</html>